@model UserProfileModel
<div class="modal fade modal-js" id="modalEditUserProfileData" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Редактирование данных</h5>
            </div>
            <div class="modal-body">
                <form id="editUserDataForm" enctype="multipart/form-data">

                    @if(Model.IsChangePassword is false)
                    {
                        @await Html.PartialAsync("_Partial.EditUserData.Data",Model)
                    }
                    else
                    {
                        @await Html.PartialAsync("_Partial.EditUserData.ChangePassword")
                    }


                  
                  

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnBackFromCreateEditMode" class="btn btn-secondary" data-bs-dismiss="modal">Назад</button>
                <button type="submit" class="btn btn-outline-primary">Сохранить</button>
            </div>
        </div>
    </div>
</div>