@model UserProfileModel


<div class="form-group">
    <label asp-for="ChangePassword.Password">Пароль:</label>
    <input asp-for="ChangePassword.Password" type="password" class="form-control" placeholder="Введите новый пароль" />
    <span asp-validation-for="ChangePassword.Password" class="validError"></span>
</div>
<div class="form-group">
    <label asp-for="ChangePassword.ConfirmPassword">Повторите пароль:</label>
    <input asp-for="ChangePassword.ConfirmPassword" type="password" class="form-control" placeholder="Повторите новый пароль" />

    <span asp-validation-for="ChangePassword.ConfirmPassword" class="validError"></span>
</div>


<ul class="form-list">
    <li class="js-passwordLenghtLabel">
        Минимум 8 символов
    </li>
    <li class="js-passwordDigitLabel">
        Минимум 1 цифра
    </li>
    <li class="js-passwordSpecialCharLabel">
        Минимум 1 специальный символ
    </li>
    <li class="js-passwordUpperLabel">
        Минимум 1 буква верхнего регистра
    </li>
    <li class="js-passwordLowerLabel">
        Минимум 1 буква нижнего регистра
    </li>

</ul>