<div class="form-group">
    <div class="avatar">
        <img src="~/img/useravatars/user.jpg" alt="user.jpg" class="rounded-circle" />
    </div>
    <label for="img">Сменить аватар:</label>
    <input id="img" type="file" class="form-control" accept="image/jpeg" />
    <span class="validError"></span>
</div>
<div class="form-group">
    <label for="Email">Email:</label>
    <input id="Email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="example@gmail.com" />
    <span class="validError"></span>
</div>