@model Account2FAModel
@{
    ViewData["Title"] = "2FA";
}

<div class="loginRegArea">


    <div class="loginRegHeader">
        <h1>Авторизация</h1>
    </div>
    <form asp-area="" asp-controller="Account" asp-action="TwoFactorLogin" method="post">
        <div class="form-group">
            <label asp-for="Code">Код подтверждения:</label>
            <input asp-for=Code type="text" class="form-control"  placeholder="999999" />
            <span asp-validation-for="Code" class="validError"></span>
        </div>
        <div class="form-group">
            <button class="btn btn-outline-primary btn-lg" type="submit">
                Войти
            </button>
        </div>
    </form>
</div>



