@{
    ViewData["Title"] = "Администрирование";
}

<div class="text-center">
    <h1>Администрирование</h1>
</div>

<div class="row mt-5">
    <div class="topic borderS align-content-center">
        <div class="topicImg text-center">
            <img src="~/img/icons/topicimg/games.png" alt="Игры" class="img-fluid" />
        </div>

        <div class="topicHeader">
            <h4>Игры</h4>
        </div>

        <div class="topicBtn">
            <a href="#" class="btn btn-outline-primary disabled">Скоро...</a>
        </div>
    </div>

    <div class="topic borderS align-content-center">
        <div class="topicImg text-center">
            <img src="~/img/icons/topicimg/dictionaries.png" alt="Словари" class="img-fluid" />
        </div>
        <div class="topicHeader">
            <h4>Словари</h4>
        </div>

        <div class="topicBtn">
            <a asp-controller="Dictionaries" asp-action="Index" class="btn btn-outline-primary">Перейти</a>
        </div>
    </div>

    <div class="topic borderS align-content-center">
        <div class="topicImg text-center">
            <img src="~/img/icons/topicimg/users.png" alt="Пользователи" class="img-fluid" />
        </div>
        <div class="topicHeader">
            <h4>Пользователи</h4>
        </div>
       
        <div class="topicBtn">
            <a asp-controller="UsersManager" asp-action="GetUsers" class="btn btn-outline-primary">Перейти</a>
        </div>
    </div>

    <div class="topic borderS align-content-center">
        <div class="topicImg text-center">
            <img src="~/img/icons/topicimg/statistics.png" alt="Статистика" class="img-fluid" />
        </div>
        <div class="topicHeader">
            <h4>Статистика</h4>
        </div>

        <div class="topicBtn">
            <a href="#" class="btn btn-outline-primary disabled">Скоро...</a>
        </div>
    </div>

    <div class="topic borderS align-content-center">
        <div class="topicImg text-center">
            <img src="~/img/icons/topicimg/guide.png" alt="Руководства" class="img-fluid" />
        </div>
        <div class="topicHeader">
            <h4>Руководства</h4>
        </div>

        <div class="topicBtn">
            <a href="#" class="btn btn-outline-primary disabled">Скоро...</a>
        </div>
    </div>

</div>
