<table id="usersTable" class="table table-striped display">
    <thead>
        <tr>
            <th>Id</th>
            <th>Аватар</th>
            <th>Email</th>
            <th>Статус</th>
            <th>Последнее посещение</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td> <img src="~/img/useravatars/user.jpg" class="avatarInTable rounded-circle"/> </td>
            <td>Test@test.cim</td>
            <td>Активный</td>
            <td>05/01/2033</td>
        </tr> 
    </tbody>
</table>