html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*HEADER STYLE*/
div.logoArea {
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color 0.3s;
}

    div.logoArea p {
        display: inline-block;
        font-size: 40px;
    }

        div.logoArea p.logo {
            color: royalblue;
        }

    div.logoArea:hover p {
        color: royalblue;
    }
.nav-item a {
    font-size: 25px;
    transition: color 0.3s;
}
.nav-item:hover a {
    color: royalblue !important;

}

.borderS {
    border-right: 1px solid royalblue;
    border-left: 1px solid royalblue;
    border-radius: 0.625rem;
}

/*LOGIN & REG STYLE*/

div.loginRegArea {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 5%;
    padding: 0.625rem;
    border-right: 1px solid royalblue;
    border-left: 1px solid royalblue;
    border-radius: 0.625rem;
}
div.loginRegHeader{
    text-align:center;
}
.form-group {
    margin-top: 0.625rem;
}

/*VALIDATION STYLE*/
.validError {
    color: red;
    margin-left: 0.625rem;
}

/*PROFILE STYLE*/
.avatar, .userdata {
    margin-top: 1.25rem;
}
    .avatar img {
        width: 16.25rem;
        height: 15.625rem;
    }

.userdata {
    width: 100%;
}

.ordercart {
    width: 100%;
    margin-top: 1.25rem;
   
    
    
}
.ordergameinfo {
    width: 100%;
    border-right: 1px solid royalblue;
    border-left: 1px solid royalblue;
    border-radius: 0.625rem;
    margin-bottom: 0.625rem;
    margin-top: 1.25rem;
}
.s_gameposter img {
    width: 9.375rem;
    height: 11.25rem;
    border-radius: 0.625rem;
  
}
.s_gameinfo {
    margin-left: 0.625rem;
}