html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*HEADER STYLE*/
div.logoArea {
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color 0.3s;
}

    div.logoArea p {
        display: inline-block;
        font-size: 40px;
    }

        div.logoArea p.logo {
            color: royalblue;
        }

    div.logoArea:hover p {
        color: royalblue;
    }
.nav-item a {
    font-size: 25px;
    transition: color 0.3s;
}
.nav-item:hover a {
    color: royalblue !important;

}
/*LOGIN STYLE*/

div.loginArea {
   margin-top:auto;
   margin-bottom:auto;
   margin-left:auto;
   margin-right:auto;  

}

div.loginArea {
    width: 50%;
    margin-top: 5%;
    padding: 10px;
    border-right: 1px solid royalblue;
    border-left: 1px solid royalblue;
    border-radius: 10px;
}
div.loginHeader{
    text-align:center;
}
.form-group {
    margin-top: 10px;
}
