<table id="dictionariesTable" class="table table-striped display">
    <thead>
        <tr>
            <th>Id</th>
            <th>Наименование</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>1</td>
            <td>Наименование 1</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Наименование 2</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Наименование 3</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Наименование 4</td>
        </tr>
    </tbody>
</table>